<a [routerLink]="['']">Current Dojo Location</a><br>
<a [routerLink]="['burbank']">Burbank, Alaska</a><br>
<a [routerLink]="['chicago']">Chicago, Illinois</a><br>
<a [routerLink]="['dallas']">Dallas, Texas</a><br>
<a [routerLink]="['sanjose']">Oakland, California</a><br>
<!-- i couldnt get san jose to work.. even looked through their api and i dont think they -->
<!-- have san jose california so i switched it to oakland -->
<a [routerLink]="['seattle']">Seattle, Washington</a><br>
<a [routerLink]="['dc']">Washington D.C.</a>

<!-- // our navigation links can go here. -->
<!-- // our partial views will load inside the router-outlet tag below. -->
<router-outlet></router-outlet>
